
section{
    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url("../img/fundoDeTela.png");

    background-size: cover; /* Redimensiona a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */

    background-color: rgba(255, 0, 91.80000364780426, 0.7099999785423279);
    padding: 35px;
    height: 650px;
    border-top: 2px solid #fff; /* Adicione uma borda branca na parte superior da seção */
  border-bottom: 2px solid #fff; /* Adicione uma borda branca na parte inferior da seção */

}
form-floating_mb-3{
	background-color: rgba(59.81432318687439, 243.31249594688416, 188.26304107904434, 1);
	text-align: center;
	border-top-left-radius:100px;
	border-top-right-radius:120px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:120px;
	
}
.btn_btn-primary{
	background-color:rgba(21.010938361287117, 0, 150.0781300663948, 1);
	color:rgba(255, 255, 255, 1);
	text-align: center;
}

.my-button {
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px;    /* Tamanho da fonte */
    background-color:rgba(21.010938361287117, 0, 150.0781300663948, 1);
	color:rgba(255, 255, 255, 1);
    border: none;       /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer;    /* Cursor de mão quando hover */
    font-family:PT Mono;
   
   
}header {
      display: flex;
      justify-content: center;
      background-color:rgb(147.07695990800858, 0, 150.0781300663948, 1);
      color: aliceblue;
      color: white;
      height: 90px;
      padding: 0px;
      text-align: center;
}.header-image {
      max-width: 100px; /* Largura máxima da imagem */
      height: auto;
      margin-right: -30px; /* Espaçamento à direita da imagem */
}.header-text {
      flex: 1; /* Ocupa o espaço restante */
      font-size: 22px;
      margin-left: -40px;
     
}.password-input {
    position: relative;
}.password-input input[type="password"] {
    padding-right: 30px; /* Espaço para o ícone de olho */
}.password-input .eye-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}.text-block {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(59.81432318687439, 243.31249594688416, 188.26304107904434, 1);
	text-align:left;
    font-family:Cuprum;
}
input {
    width: 280px; /* Aumenta a largura da barra de entrada */
    font-family:Cuprum;
}h1{
    font-family:Love Ya Like A Sister;
}.img_login{
    border-radius: 50%; /* 50% cria uma forma de círculo */
    text-align: center;
  }
.my-button2 {
  padding: 10px 20px; /* Espaçamento interno do botão */
  font-size: 14px;    /* Tamanho da fonte */
  background-color:rgb(118, 118, 114);
  color:white;
  border: none;       /* Remove a borda */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer;    /* Cursor de mão quando hover */
  font-family:PT Mono;
 
 
}