html{
    font-family:Verdana;
}
.container{
    /*border:1px solid red;*/
    width:1024px;
    height: 500px;
    margin:0 auto;
    display:grid;
    grid-template-rows: 112px 1fr 1fr ;
    grid-template-columns: 200px 1fr ;
    box-shadow:0px 0px 10px rgba(0,0,0,0.50) ;

}
section{
    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url("../img/fundoDeTela.png");

    background-size: cover; /* Redimensiona a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */

    background-color: rgba(255, 0, 91.80000364780426, 0.7099999785423279);
    padding: 20px;
    height: 600px;
     border-top: 2px solid #fff; /* Adicione uma borda branca na parte superior da seção */
    border-bottom: 2px solid #fff; /* Adicione uma borda branca na parte inferior da seção */
 
 
    
}


.content {
  padding: 50px;
  color: white;
  text-align: center;
}


form-floating_mb-3{
	background-color: rgba(59.81432318687439, 243.31249594688416, 188.26304107904434, 1);
	text-align: center;
	border-top-left-radius:100px;
	border-top-right-radius:120px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:120px;
	
}
.btn_btn-primary{
	background-color:rgba(21.010938361287117, 0, 150.0781300663948, 1);
	color:rgba(255, 255, 255, 1);
	text-align: center;
}

.my-button {
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px;    /* Tamanho da fonte */
    background-color:rgba(21.010938361287117, 0, 150.0781300663948, 1);
	color:rgba(255, 255, 255, 1);
    border: none;       /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer;    /* Cursor de mão quando hover */
    font-family:PT Mono;
   
   
}

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:rgb(147.07695990800858, 0, 150.0781300663948, 1);
      color: #fff;
      padding: 0px;
      height: 90px;
      text-align: center;
      position: relative;
      font-family: Love Ya Like A Sister;
    }
    .left-icon,
    .center-icon {
      font-size: 24px; /* Tamanho do ícone */
    }
    .right-icon{
      font-size: 45px;
    }
  
   /* .header-image {
      max-width: 70px; / Largura máxima da imagem /
      height: auto;
      margin-right: -80px; / Espaçamento à direita da imagem /
    
    }
    .header-icon{
      max-width: 100px; / Largura máxima da imagem /
      height: auto;
      float: right; /* Alinha o ícone à direita /

    }

    .header-text {
      text-align: center; 
      flex: 1; /* Ocupa o espaço restante /
      font-size: 45px;
      font-family:Love Ya Like A Sister;
      justify-content: space-between; /* Alinhe os elementos à esquerda e à direita */

     
    
  .text-block {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: rgba(59.81432318687439, 243.31249594688416, 188.26304107904434, 1);
    font-family:Cuprum;
    color: rgb(0, 0, 0);
	  text-align:left;
  }
  /*input {
    width: 280px; / Aumenta a largura da barra de entrada /
    font-family:Cuprum;
  }*/
  h4{
    text-align: center;
    font-family:Love Ya Like A Sister;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px;
  }

  th, td {
    
    text-align: center;
  }

  .transparent {
    background-color: transparent;
  }