.2_3 { 
	overflow:hidden;
}
.e2_3 { 
	width:6030px;
	height:3144px;
	position:absolute;
}
.e130_67 { 
	width:6030px;
	height:3144px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_2 { 
	background-color:rgba(255, 0, 91.80000364780426, 0.7099999785423279);
	width:6030px;
	height:3144px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_4 { 
	background-color:rgba(147.07695990800858, 0, 150.0781300663948, 1);
	width:6030px;
	height:441px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_5 { 
	color:rgba(255, 255, 255, 1);
	width:1846px;
	height:311px;
	position:absolute;
	left:2092px;
	top:69px;
	font-family:Love Ya Like A Sister;
	text-align:left;
	font-size:250px;
	letter-spacing:0;
}
.e4_2 { 
	background-color:rgba(59.81432318687439, 243.31249594688416, 188.26304107904434, 1);
	width:2047px;
	height:2389px;
	position:absolute;
	left:1989px;
	top:596px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e4_6 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:139px;
	position:absolute;
	left:2092px;
	top:796px;
	font-family:Cuprum;
	text-align:left;
	font-size:120px;
	letter-spacing:0;
}
.e4_10 { 
	color:rgba(0, 0, 0, 1);
	width:296px;
	height:139px;
	position:absolute;
	left:2092px;
	top:1310px;
	font-family:Cuprum;
	text-align:left;
	font-size:120px;
	letter-spacing:0;
}
.e4_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1842px;
	height:200px;
	position:absolute;
	left:2092px;
	top:974px;
}
.4_7 { 
	border:1px solid rgba(255, 131.74999594688416, 176.12000226974487, 1);
}
.e4_11 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1842px;
	height:200px;
	position:absolute;
	left:2092px;
	top:1517px;
}
.e4_9 { 
	color:rgba(112.62499898672104, 110.74791491031647, 110.74791491031647, 1);
	width:515px;
	height:92px;
	position:absolute;
	left:2135px;
	top:1028px;
	font-family:Cuprum;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
.e4_12 { 
	color:rgba(112.62499898672104, 110.74791491031647, 110.74791491031647, 1);
	width:503px;
	height:92px;
	position:absolute;
	left:2135px;
	top:1572px;
	font-family:Cuprum;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
.e4_81 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(21.010938361287117, 0, 150.0781300663948, 1);
	width:521px;
	height:215px;
	position:absolute;
	left:2754px;
	top:1933px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.4_81 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e4_85 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(21.010938361287117, 0, 150.0781300663948, 1);
	width:939px;
	height:215px;
	position:absolute;
	left:2543px;
	top:2577px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.4_85 { 
	border:1px solid rgba(0, 78.62500101327896, 12.57996691390872, 1);
}
.e4_82 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:432px;
	height:134px;
	position:absolute;
	left:2799px;
	top:1971px;
	font-family:PT Mono;
	text-align:center;
	font-size:120px;
	letter-spacing:0;
}
.e4_86 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:864px;
	height:134px;
	position:absolute;
	left:2583px;
	top:2618px;
	font-family:PT Mono;
	text-align:center;
	font-size:120px;
	letter-spacing:0;
}
.e4_83 { 
	transform: rotate(0.1241510094943441deg);
	width:1846.00439453125px;
	height:0px;
	position:absolute;
	left:2092px;
	top:2339px;
}
.4_83 { 
	border:10px solid rgba(0, 151.08749270439148, 142.02204555273056, 1);
}
.e4_87 { 
	transform: rotate(-0.0015212963419309886deg);
	width:5957.99951171875px;
	height:0px;
	position:absolute;
	left:0px;
	top:441px;
}
.4_87 { 
	border:10px solid rgba(255, 255, 255, 1);
}
.e4_88 { 
	transform: rotate(-0.0015212963419309886deg);
	width:6030px;
	height:0px;
	position:absolute;
	left:0px;
	top:441px;
}
.4_88 { 
	border:20px solid rgba(255, 255, 255, 1);
}
.e6_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.20999999344348907);
	width:115px;
	height:100px;
	position:absolute;
	left:869px;
	top:2041px;
}
.e6_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:528px;
	top:2358px;
}
.e6_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5099999904632568);
	width:115px;
	height:100px;
	position:absolute;
	left:307px;
	top:2899px;
}
.e6_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:1682px;
	top:2806px;
}
.e6_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.8799999952316284);
	width:115px;
	height:100px;
	position:absolute;
	left:782px;
	top:2756px;
}
.e6_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.36000001430511475);
	width:115px;
	height:100px;
	position:absolute;
	left:192px;
	top:2532px;
}
.e6_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5299999713897705);
	width:115px;
	height:100px;
	position:absolute;
	left:1278px;
	top:2408px;
}
.e6_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.20999999344348907);
	width:115px;
	height:100px;
	position:absolute;
	left:4934px;
	top:2053px;
}
.e6_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:4593px;
	top:2370px;
}
.e6_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5099999904632568);
	width:115px;
	height:100px;
	position:absolute;
	left:4372px;
	top:2911px;
}
.e6_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:5747px;
	top:2818px;
}
.e6_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.8799999952316284);
	width:115px;
	height:100px;
	position:absolute;
	left:4847px;
	top:2768px;
}
.e6_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.36000001430511475);
	width:115px;
	height:100px;
	position:absolute;
	left:4257px;
	top:2544px;
}
.e6_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5299999713897705);
	width:115px;
	height:100px;
	position:absolute;
	left:5343px;
	top:2420px;
}
.e236_2 { 
	width:373px;
	height:441px;
	position:absolute;
	left:-35px;
	top:0px;
	background-image:url(images/pji2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
