.104_2 { 
	overflow:hidden;
}.e104_2 { 
	width:6030px;
	height:3144px;
	position:absolute;
}.e104_3 { 
	background-color:rgba(255, 0, 91.80000364780426, 0.7099999785423279);
	width:6030px;
	height:3144px;
	position:absolute;
	left:0px;
	top:0px;
}.e104_4 { 
	background-color:rgba(147.07695990800858, 0, 150.0781300663948, 1);
	width:6030px;
	height:441px;
	position:absolute;
	left:0px;
	top:0px;
}.e104_5 { 
	color:rgba(255, 255, 255, 1);
	width:1846px;
	height:311px;
	position:absolute;
	left:2092px;
	top:69px;
	font-family:Love Ya Like A Sister;
	text-align:left;
	font-size:250px;
	letter-spacing:0;
}.e104_6 { 
	background-color:rgba(59.81432318687439, 243.31249594688416, 188.26304107904434, 1);
	width:2047px;
	height:2389px;
	position:absolute;
	left:1989px;
	top:596px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e104_7 { 
	color:rgba(0, 0, 0, 1);
	width:277px;
	height:139px;
	position:absolute;
	left:2092px;
	top:796px;
	font-family:Cuprum;
	text-align:left;
	font-size:120px;
	letter-spacing:0;
}.e104_8 { 
	color:rgba(0, 0, 0, 1);
	width:296px;
	height:139px;
	position:absolute;
	left:2092px;
	top:1826px;
	font-family:Cuprum;
	text-align:left;
	font-size:120px;
	letter-spacing:0;
}.e104_9 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:139px;
	position:absolute;
	left:2092px;
	top:1310px;
	font-family:Cuprum;
	text-align:left;
	font-size:120px;
	letter-spacing:0;
}.e104_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1842px;
	height:200px;
	position:absolute;
	left:2092px;
	top:974px;
}.104_10 { 
	border:1px solid rgba(255, 131.74999594688416, 176.12000226974487, 1);
}.e104_11 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1842px;
	height:200px;
	position:absolute;
	left:2092px;
	top:1517px;
}.e104_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1842px;
	height:200px;
	position:absolute;
	left:2092px;
	top:2020px;
}.e104_13 { 
	color:rgba(112.62499898672104, 110.74791491031647, 110.74791491031647, 1);
	width:488px;
	height:92px;
	position:absolute;
	left:2135px;
	top:1028px;
	font-family:Cuprum;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e104_14 { 
	color:rgba(112.62499898672104, 110.74791491031647, 110.74791491031647, 1);
	width:515px;
	height:92px;
	position:absolute;
	left:2135px;
	top:1572px;
	font-family:Cuprum;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e104_15 { 
	color:rgba(112.62499898672104, 110.74791491031647, 110.74791491031647, 1);
	width:503px;
	height:92px;
	position:absolute;
	left:2135px;
	top:2074px;
	font-family:Cuprum;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.e104_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(21.010938361287117, 0, 150.0781300663948, 1);
	width:939px;
	height:215px;
	position:absolute;
	left:2545px;
	top:2458px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.104_16 { 
	border:1px solid rgba(0, 78.62500101327896, 12.57996691390872, 1);
}.e104_17 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:864px;
	height:134px;
	position:absolute;
	left:2583px;
	top:2498px;
	font-family:PT Mono;
	text-align:center;
	font-size:120px;
	letter-spacing:0;
}.e104_18 { 
	transform: rotate(-0.0015212963419309886deg);
	width:5957.99951171875px;
	height:0px;
	position:absolute;
	left:0px;
	top:441px;
}.104_18 { 
	border:10px solid rgba(255, 255, 255, 1);
}.e104_19 { 
	transform: rotate(-0.0015212963419309886deg);
	width:6030px;
	height:0px;
	position:absolute;
	left:0px;
	top:441px;
}.104_19 { 
	border:10px solid rgba(255, 255, 255, 1);
}.e104_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.20999999344348907);
	width:115px;
	height:100px;
	position:absolute;
	left:869px;
	top:2041px;
}.e104_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:528px;
	top:2358px;
}.e104_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5099999904632568);
	width:115px;
	height:100px;
	position:absolute;
	left:307px;
	top:2899px;
}.e104_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:1682px;
	top:2806px;
}.e104_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.8799999952316284);
	width:115px;
	height:100px;
	position:absolute;
	left:782px;
	top:2756px;
}.e104_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.36000001430511475);
	width:115px;
	height:100px;
	position:absolute;
	left:192px;
	top:2532px;
}.e104_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5299999713897705);
	width:115px;
	height:100px;
	position:absolute;
	left:1278px;
	top:2408px;
}.e104_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.20999999344348907);
	width:115px;
	height:100px;
	position:absolute;
	left:4934px;
	top:2053px;
}.e104_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:4593px;
	top:2370px;
}.e104_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5099999904632568);
	width:115px;
	height:100px;
	position:absolute;
	left:4372px;
	top:2911px;
}.e104_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:5747px;
	top:2818px;
}.e104_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.8799999952316284);
	width:115px;
	height:100px;
	position:absolute;
	left:4847px;
	top:2768px;
}.e104_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.36000001430511475);
	width:115px;
	height:100px;
	position:absolute;
	left:4257px;
	top:2544px;
}.e104_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5299999713897705);
	width:115px;
	height:100px;
	position:absolute;
	left:5343px;
	top:2420px;
}.e126_37 { 
	width:1073px;
	height:989px;
	position:absolute;
	left:-410px;
	top:-285px;
	background-image:url(images/1_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e104_66 { 
	width:103px;
	height:115px;
	position:absolute;
	left:3789px;
	top:2062px;
}.104_67 { 
	overflow:hidden;
}.e104_67 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:103px;
	height:115px;
	position:absolute;
	left:0px;
	top:0px;
}.e104_68 { 
	background-color:rgba(112.62499898672104, 110.74791491031647, 110.74791491031647, 1);
	width:99.35208892822266px;
	height:98.34895324707031px;
	position:absolute;
	left:4px;
	top:18px;
}