.104_34 { 
	overflow:hidden;
}.e104_34 { 
	width:6030px;
	height:3144px;
	position:absolute;
}.e104_35 { 
	background-color:rgba(255, 0, 91.80000364780426, 0.7099999785423279);
	width:6030px;
	height:3144px;
	position:absolute;
	left:0px;
	top:0px;
}.e104_36 { 
	background-color:rgba(147.07695990800858, 0, 150.0781300663948, 1);
	width:6030px;
	height:441px;
	position:absolute;
	left:0px;
	top:0px;
}.e104_37 { 
	color:rgba(255, 255, 255, 1);
	width:1846px;
	height:311px;
	position:absolute;
	left:2092px;
	top:69px;
	font-family:Love Ya Like A Sister;
	text-align:left;
	font-size:250px;
	letter-spacing:0;
}.e104_38 { 
	transform: rotate(-0.0015212963419309886deg);
	width:6030px;
	height:5.000371932983398px;
	position:absolute;
	left:0.000014938921594875865px;
	top:441.16009521484375px;
}.104_38 { 
	border:10px solid rgba(255, 255, 255, 1);
}.e104_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.20999999344348907);
	width:115px;
	height:100px;
	position:absolute;
	left:869px;
	top:2041px;
}.e104_41 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:528px;
	top:2358px;
}.e104_42 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5099999904632568);
	width:115px;
	height:100px;
	position:absolute;
	left:307px;
	top:2899px;
}.e104_43 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:1682px;
	top:2806px;
}.e104_44 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.8799999952316284);
	width:115px;
	height:100px;
	position:absolute;
	left:782px;
	top:2756px;
}.e104_45 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.36000001430511475);
	width:115px;
	height:100px;
	position:absolute;
	left:192px;
	top:2532px;
}.e104_46 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5299999713897705);
	width:115px;
	height:100px;
	position:absolute;
	left:1278px;
	top:2408px;
}.e104_47 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.20999999344348907);
	width:115px;
	height:100px;
	position:absolute;
	left:4934px;
	top:2053px;
}.e104_48 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:4593px;
	top:2370px;
}.e104_49 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5099999904632568);
	width:115px;
	height:100px;
	position:absolute;
	left:4372px;
	top:2911px;
}.e104_50 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:115px;
	height:100px;
	position:absolute;
	left:5747px;
	top:2818px;
}.e104_51 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.8799999952316284);
	width:115px;
	height:100px;
	position:absolute;
	left:4847px;
	top:2768px;
}.e104_52 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.36000001430511475);
	width:115px;
	height:100px;
	position:absolute;
	left:4257px;
	top:2544px;
}.e104_53 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5299999713897705);
	width:115px;
	height:100px;
	position:absolute;
	left:5343px;
	top:2420px;
}.e104_54 { 
	background-color:rgba(255, 131.74999594688416, 176.12000226974487, 1);
	width:1580px;
	height:937px;
	position:absolute;
	left:192px;
	top:635px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}.e104_55 { 
	background-color:rgba(60.00000022351742, 243.00000071525574, 188.0000039935112, 1);
	width:1580px;
	height:937px;
	position:absolute;
	left:4144px;
	top:1940px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}.e104_56 { 
	background-color:rgba(255, 198.90654355287552, 114.76660206913948, 1);
	width:1580px;
	height:937px;
	position:absolute;
	left:2225px;
	top:1940px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}.e104_57 { 
	background-color:rgba(255, 149.83909249305725, 149.83909249305725, 1);
	width:1580px;
	height:937px;
	position:absolute;
	left:194px;
	top:1940px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}.e104_58 { 
	background-color:rgba(131.76660865545273, 203.24194371700287, 255, 1);
	width:1580px;
	height:937px;
	position:absolute;
	left:4144px;
	top:635px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}.e104_59 { 
	background-color:rgba(236.93750202655792, 220.15442579984665, 220.15442579984665, 1);
	width:1580px;
	height:937px;
	position:absolute;
	left:2225px;
	top:635px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}.e104_60 { 
	color:rgba(0, 0, 0, 1);
	width:760px;
	height:623px;
	position:absolute;
	left:602px;
	top:815px;
	font-family:Love Ya Like A Sister;
	text-align:left;
	font-size:500px;
	letter-spacing:0;
}.e104_61 { 
	color:rgba(0, 0, 0, 1);
	width:831px;
	height:623px;
	position:absolute;
	left:2635px;
	top:2103px;
	font-family:Love Ya Like A Sister;
	text-align:left;
	font-size:500px;
	letter-spacing:0;
}.e104_62 { 
	color:rgba(0, 0, 0, 1);
	width:1152px;
	height:623px;
	position:absolute;
	left:4416px;
	top:2134px;
	font-family:Love Ya Like A Sister;
	text-align:left;
	font-size:500px;
	letter-spacing:0;
}.e104_63 { 
	color:rgba(0, 0, 0, 1);
	width:1516px;
	height:623px;
	position:absolute;
	left:4186px;
	top:792px;
	font-family:Love Ya Like A Sister;
	text-align:left;
	font-size:500px;
	letter-spacing:0;
}.e104_64 { 
	color:rgba(0, 0, 0, 1);
	width:1165px;
	height:623px;
	position:absolute;
	left:2433px;
	top:792px;
	font-family:Love Ya Like A Sister;
	text-align:left;
	font-size:500px;
	letter-spacing:0;
}.e104_65 { 
	color:rgba(0, 0, 0, 1);
	width:1534px;
	height:411px;
	position:absolute;
	left:217px;
	top:2240px;
	font-family:Love Ya Like A Sister;
	text-align:left;
	font-size:330px;
	letter-spacing:0;
}.e126_38 { 
	width:1073px;
	height:989px;
	position:absolute;
	left:-410px;
	top:-285px;
	background-image:url(images/1_removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}